#calcDemension{
	width: 300px;
	height: 100px;
	background: #5f3e1e;
}
width: 70%;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;position: relative;display: inline-block;vertical-align: bottom;word-wrap: normal;