*{
	margin: 0;
	padding: 0;
	list-style: none;
}
.htc-test{
	box-sizing: border-box;
	background: #dafc4a;
	padding: 10px;
	border: 1px solid #f00;
	border-radius: 13px;
	box-shadow: 20px 20px 20px #333333;
	behavior: url(http://127.0.0.1:8080/iehack/PIE.htc);
}
@media only screen and (min-width:500px ) {
	.test-media{
		background: #bf97ef;
	}
}
.test-boxsize{
	padding: 50px;
	background: #bf97ef;
	box-sizing: border-box;
	width: 200px;
	height: 150px;
	
}
.test-boxsize +.test-media{
	margin-top: 20px;
	padding: 50px;
	border: 5px solid #000;
}
.bac-attach{
	padding: 500px;
	background: url(../img/screen2.jpg);
	background-size: cover;
	background-attachment: fixed;
}
.bac-attach+div{
	background: url(../img/avatar_default.jpg);
	background-attachment: fixed;
	background-size: cover;
	padding: 500px;
}
/*.bac-attach::before{
	background: url(../img/screen2.jpg);
	background-size: cover;
	position: fixed;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}*/
li[myatt~="hehe"]{
	background: #f00;
}
li[myatt*="pur"]{
	background: #644d81;
	-webkit-animation-direction: alternate;
	-moz-animation-direction: alternate;
	-o-animation-direction: alternate;
	animation-direction: alternate;
}
@-webkit-keyframes identifier {
	from {  }
	to {  }
}
@-o-keyframes identifier {
	from {  }
	to {  }
}
@-moz-keyframes identifier {
	from {  }
	to {  }
}
@keyframes identifier {
	from {  }
	to {  }
}
